<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>NGO Add new event</title>
</head>
<body>
	<div align="center">
		<h1>Insert new event  Page</h1>
		<form action="#" th:action="@{/saveNewEvent}" th:object="${event}"
			method="post">
			<table border="2">
				<tr>
					<td>id: <input type="text" style="width: 290px"
						 th:field="*{id}" readonly="readonly" placeholder="id will be auto created"/><br> 
					</td>
				</tr>
				<tr>
					<td>Event name: <input type="text" style="width: 232px"
						th:field="*{name}" placeholder="Enter the event"/><br>
					</td>
				</tr>
				<tr>
					<td>Description: <input type="text" style="width: 240px"
						th:field="*{description}" placeholder="Enter a category"/><br>
					</td>
				</tr>
				<tr>
					<td>Category: <input type="text" style="width: 240px"
						th:field="*{category}" placeholder="Enter a category"/><br>
					</td>
				</tr>
				<tr>
					<td>Location: <input type="text" style="width: 220px"
						th:field="*{location}" placeholder="Enter a location ex) NY / NewYork"/><br>
					</td>
				</tr>
				<tr>
					<td>Start Date: <input type="text" style="width: 197px"
						 th:field="*{start_date}" placeholder="enter a start date ex) 2021-05-15"/><br>
					</td>
				</tr>
				<tr>
					<td>End Date: <input type="text" style="width: 197px"
						 th:field="*{end_date}" placeholder="enter an end date 2021-05-15"/><br>
					</td>
				</tr>
			</table>
			<br>
			<button type="submit">Save</button>
			&emsp;&emsp;&emsp; <a th:href="@{/event/}">Back</a> &emsp;&emsp;&emsp;
			<span id="logout" class="collapse navbar-collapse">
				<span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
			</span>
		</form>
	</div>
</body>
</html>